<!DOCTYPE html>
<html lang="en" , xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li><a th:href="@{/variables/string/} + 'Muerete muchacho'"></a>/variables/string/Muerete muchacho</li>
    <li><a th:href="@{/variables/string/} + 'Muerete muchachito'"></a>/variables/string/Muerete muchachito</li>
    <li><a th:href="@{/variables/string/} + 'Muerete muchachon' + '/' + '7'"></a>/variables/string/Muerete muchachon/7</li>
</ul>

</body>
</html>